@model Proyectonext.ViewModels.UsersVM;
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> Registrarse </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
        <div>
            <div class="row mt-5 justify-content-center">
            <div class="col-sm-4">
                <div class="justify-content-cente">Registrarse</div>
            <div classrc="card-body">
                <form asp-controller="Acceso" method="post" asp-action="Registrarse">
                <input  class="form-control mb-3" type="text" placeholder="Usuario" required asp-for="UserName"/>
                <input  class="form-control mb-3" type="text" placeholder="Mail" required asp-for="Mail"/>
                <input  class="form-control mb-3" type="text" placeholder="Password" required asp-for="Password"/>
                <input class="form-control mb-3" type="text" placeholder="Repetir Password" required asp-for="RptPasssword" />
                @if(ViewData["Mensaje"] != null)
                    {
                    <div class=" alert alert-danger" role="alert">
                    @ViewData["Mensaje"]
                    </div>
                    }
                    <div class="d-grid gap-2 mb-3">
                       <button class="btn btn-info" type="submit"> Registrarse</button>
                    </div>
            </form>
             </div>
        </div>
        </div>
        </div>
    </body>
</html>
